version: '3.7'

services:
  manager-app:
    restart: always
    build: ./
    expose:
      - "10222"
    ports: #It will be available on 8080 don't know why may be because war file+tomcat
      - 10222:10222
    environment: # Pass environment variables to the service
      SPRING_DATASOURCE_URL: jdbc:mysql://docker-mysql:3306/test1?useSSL=false&serverTimezone=UTC&useLegacyDatetimeCode=false
      SPRING_DATASOURCE_USERNAME: callicoder
      SPRING_DATASOURCE_PASSWORD: callicoder
    depends_on: # Networks to join (Services on the same network can communicate with each other using their name)
      - docker-mysql
    networks: 
      - backend

  docker-mysql:
    restart: always
    container_name: docker-mysql
    image: mysql:5.7.31
    environment:
      MYSQL_DATABASE: test1
      MYSQL_USER: callicoder
      MYSQL_PASSWORD: callicoder
      MYSQL_ROOT_PASSWORD: piyush
    ports: 
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    networks: 
      - backend  
  
# Volumes
volumes:
  db-data:

# Networks to be created to facilitate communication between containers
networks:
  backend:    